/* Estilos da Página de Autenticação */
.container-bg {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Mova o fundo para cá */
    background-image: url('../assets/adventure_time.png');
    background-size: cover;
    background-position: center;
}

.pixel-card {
    background-color: #ddd9d5;
    padding: 40px;
    position: relative;
    border: 4px solid #5f4935;
    box-shadow:
        -8px 0 0 0 #5f4935,
        8px 0 0 0 #5f4935,
        0 -8px 0 0 #5f4935,
        0 8px 0 0 #5f4935;
    width: 520px;
    max-width: 90vw;
}

.pixel-title {
    color: #5f4935;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
}

.pixel-label {
    display: block;
    font-size: 18px;
    color: #5f4935;
    margin-bottom: 8px;
}

.pixel-input {
    width: 100%;
    padding: 12px;
    border: 4px solid #5f4935;
    background: white;
    outline: none;
    font-size: 16px;
    box-shadow:
        -4px 0 0 0 #5f4935,
        4px 0 0 0 #5f4935,
        0 -4px 0 0 #5f4935,
        0 4px 0 0 #5f4935;
}

.pixel-input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23386142' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 12px center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-right: 40px;
}

.pixel-button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: #5f4935;
    color: #ddd9d5;
    border: none;
    cursor: pointer;
    font-size: 18px;
    box-shadow:
        -4px 0 0 0 #5f4935,
        4px 0 0 0 #5f4935,
        0 -4px 0 0 #5f4935,
        0 4px 0 0 #5f4935;
}

.pixel-button:hover {
    background-color: #7fb048;
}

.pixel-button:active {
    transform: translateY(4px);
}

.pixel-footer {
    text-align: center;
    font-size: 14px;
    color: #5f4935;
    margin-top: 20px;
    opacity: 0.7;
}