/* Estilos do Footer */
.footer {
    background-color: #ffffff; /* Fundo branco */
    border: 4px solid #4d4d4d; /* Borda em tom suave de preto */
    box-shadow: 
        -4px 0 0 0 #4d4d4d, /* Borda em tom suave de preto */
        4px 0 0 0 #4d4d4d, /* Borda em tom suave de preto */
        0 -4px 0 0 #4d4d4d, /* Borda em tom suave de preto */
        0 4px 0 0 #4d4d4d; /* Borda em tom suave de preto */
    margin: 4px;
    color: #333333; /* Texto em tom suave de preto */
}

.footer p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    margin: 0;
}